
div{
    text-align: center;
}

input{
    border: 2px grey solid;
    border-radius: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
}

button{
    border: 2px grey solid;
    width: 200px;
    margin-top: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
    color: red;
}